.container {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  .content {
    border: 1px solid #d87676;
    border-radius: 5px;
    background-color: #e98383;
    display: inline-flex;
    align-items: center;
    padding: 5px;
  }
  .text {
    margin-left: 5px;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
}
